.App {
  text-align: center;
}
.navigation {
  height: 80px;
}
#mainNav {
  height: 80px;
  padding: 10px;
  justify-content: flex-end;
}
a {
  color: #faf2e7;
  font-size: 25px;
  font-family: cursive;
}

div#HomePage {
  /* padding: 50px; */
  padding-top: 30px;
  /* background-color: beige; */
}

.App-body {
  /* background-color: antiquewhite; */
  padding: 50px;
}

label#formLabel,
legend#difficultSelect {
  font-family: cursive;
  font-size: 20px;
  justify-content: center;
}

div#radioDifficult {
  text-align: left;
  font-size: 20px;
  font-family: cursive;
}
input[type="text"] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border-radius: 10px;
  font-size: 20px;
  font-family: cursive;
}

select#inlineFormCustomSelectPref {
  height: 50px;
  border-radius: 10px;
  font-size: 15px;
  font-family: cursive;
  padding: 10px;
}
